<div class="body">
  <section class="container-">
    @if (signUp() ) {
    <header class="text-center">Registration Form</header>
    <form #registerForm="ngForm" class="form">
      <div class="input-box">
        <label>Full Name</label>
        <input
          name="userName"
          ngModel
          type="text"
          placeholder="Enter full name"
          required
          minlength="4"
        />
      </div>
      <div class="input-box">
        <label>Email Address</label>
        <input
          name="email"
          ngModel
          type="text"
          placeholder="Enter email address"
          required
          minlength="6"
        />
      </div>
      <div class="input-box">
        <label>Password</label>
        <input
          name="password"
          ngModel
          type="password"
          placeholder="Enter Strong Password"
          required
          minlength="6"
        />
      </div>
      <div class="column">
        <div class="input-box">
          <label>Title</label>
          <input
            name="title"
            ngModel
            type="text"
            placeholder="Enter your title"
            required
            minlength="4"
          />
        </div>
        <div class="input-box">
          <label>Department</label>
          <!-- <input
            name="department"
            type="text"
            required
            minlength="4"
            /> -->
            <select
            name="department"
            ngModel
            placeholder="your department"
            class="form-select select-box"
            aria-label="Default select example"
          >
            <!-- <option selected>select your department</option> -->
            <option [value]="userDepartment.Developers">Developers</option>
            <option [value]="userDepartment.Cyber">Cyber</option>
            <option [value]="userDepartment.Marketing">Marketing</option>
          </select>
        </div>
      </div>
      <div class="column">
        <div class="input-box">
          <label>Phone Number</label>
          <input
            name="phone"
            ngModel
            type="number"
            placeholder="Enter phone number"
            required
            minlength="11"
          />
        </div>
        <div class="input-box">
          <label>Birth Date</label>
          <input
            name="birthDate"
            ngModel
            type="date"
            placeholder="Enter birth date"
            required
          />
        </div>
      </div>
      <div class="gender-box">
        <h3>Gender</h3>
        <div class="gender-option">
          <div class="gender">
            <input
              type="radio"
              id="check-male"
              ngModel
              name="gender"
              value="male"
              checked
              required
            />
            <label for="check-male">male</label>
            <input
              ngModel
              type="radio"
              id="check-female"
              value="female"
              name="gender"
              required
            />
            <label for="check-female">Female</label>
          </div>
        </div>
      </div>
      <div class="input-box address">
        <label>Address</label>
        <input
          name="address"
          ngModel
          type="text"
          placeholder="Enter your address"
          required
        />
      </div>

      <a class="underline" style="cursor: pointer" (click)="signUp.set(false)"
        >already have an account? LogIn</a
      >
      {{ registerForm.invalid }}
      <!-- [disabled]="registerForm.invalid" -->
      <button
        [class]="registerForm.invalid ? 'disabled' : ''"
        (click)="register(registerForm)"
      >
        Sign Up
      </button>
    </form>
    }@else {
    <header class="text-center">Login</header>
    <form #loginForm="ngForm" class="form">
      <div class="input-box">
        <label>Email Address</label>
        <input
          name="email"
          ngModel
          type="email"
          placeholder="Enter email address"
          required
          minlength="6"
        />
      </div>
      <div class="input-box">
        <label>Password</label>
        <input
          name="password"
          ngModel
          type="password"
          placeholder="Enter Strong Password"
          required
          minlength="6"
        />
      </div>
      <a class="underline" style="cursor: pointer" (click)="signUp.set(true)"
        >have no account? SignUp</a
      >
      <button
        [disabled]="loginForm.invalid"
        [class]="loginForm.invalid ? 'disabled' : ''"
        (click)="login(loginForm)"
      >
        LogIn
      </button>
    </form>
    }
  </section>
</div>
