.mat-mdc-table .mat-mdc-header-row {
  background-color: rgb(251, 250, 255);
}
.mat-mdc-table {
  border: 1px solid #bcbaef !important;
  box-shadow: 0px 2px 6px 2px #00000026;
  box-shadow: 0px 1px 2px 0px #0000004d;
}
