/* You can add global styles to this file, and also import other style files */
@import url(./assets/css/app.min.css);
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
:root {
  --bs-header-bg: #fff;
  --bs-header-item-color: var(--bs-header-item-color);
  --bs-header-item-sub-color: var(--bs-secondary-color);
  --bs-sidebar-bg: #fbfaff;
  --bs-sidebar-menu-item-color: #545a6d;
  --bs-sidebar-menu-sub-item-color: #545a6d;
  --bs-sidebar-menu-item-icon-color: #545a6d;
  --bs-sidebar-menu-item-icon-effact-color: rgba(84, 90, 109, 0.2);
  --bs-sidebar-menu-item-hover-color: #5156be;
  --bs-sidebar-menu-item-hover-effact-color: rgba(81, 86, 190, 0.2);
  --bs-sidebar-menu-item-active-color: #5156be;
  --bs-sidebar-menu-item-active-effact-color: rgba(81, 86, 190, 0.2);
  --bs-sidebar-border-color: #e9e9ef;
  --bs-sidebar-menu-item-active-bg-color: #f3f8fb;
  --bs-sidebar-menu-item-active-bg-color-dark: #293552;
  --bs-sidebar-alert: rgba(81, 86, 190, 0.1);
  --bs-topbar-search-bg: #f3f3f9;
  --bs-topbar-dark-search-bg: #363a38;
  --bs-search-width: 0px;
  --bs-search-border-color: #e9e9ef;
  --bs-boxed-body-bg: whitesmoke;
  --bs-topbar-search-bg: #f8f9fa;
  --bs-topnav-bg: #fbfaff;
  --bs-topnav-item-color: #ced4da;
  --bs-topnav-item-color-active: #fff;
  --bs-menu-item-color: #7b8190;
  --bs-menu-item-active-color: #5b73e8;
  --bs-twocolumn-menu-iconview-bg: #fff;
  --bs-twocolumn-menu-bg: #fff;
  --bs-footer-bg: #fff;
  --bs-footer-color: #74788d;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.cursor-pointer {
  cursor: pointer !important;
}
