@if (toggleSideBar()) {

<div class="vertical-menu">
  <div data-simplebar class="h-100">
    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title" data-key="t-menu">Menu</li>

        <li>
          <a
            routerLink="/home/dashboard"
            class="d-flex align-items-center gap-2 cursor-pointer"
          >
            <mat-icon data-feather="home">home</mat-icon>
            <span data-key="t-dashboard">Dashboard</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/home/dashboard"
            class="d-flex align-items-center gap-2 cursor-pointer"
          >
            <mat-icon data-feather="home">analytics</mat-icon>
            <span data-key="t-dashboard">Reports</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/home/dashboard"
            class="d-flex align-items-center gap-2 cursor-pointer"
          >
            <mat-icon data-feather="home">group</mat-icon>
            <span data-key="t-dashboard">departments</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/home/dashboard"
            class="d-flex align-items-center gap-2 cursor-pointer"
          >
            <mat-icon data-feather="home">person</mat-icon>
            <span data-key="t-dashboard">Profile</span>
          </a>
        </li>
      </ul>

      <div class="card sidebar-alert border-0 text-center mx-4 mb-0 mt-5">
        <div class="card-body">
          <img src="assets/images/giftbox.png" alt="" />
          <div class="mt-4">
            <h5 class="alertcard-title font-size-16">Unlimited Access</h5>
            <p class="font-size-13">Upgrade your role from user to Admin</p>
            <a href="" class="btn btn-primary mt-2">Upgrade Now</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Sidebar -->
  </div>
</div>
}
